    .error-container {
  position: fixed;
  bottom: -100px;
  right: 25px;
  background-color: #f1f1f1;
  z-index: 99;
  padding: 10px 20px;
  max-width: 300px;
  border-radius: 5px 5px 0 0;
  animation: ErrorIn 5s ease-in-out;
  border-bottom: 3px green solid;
  /* Анимация вылета */
}

.error-container p {
  font-size: 22px;
  text-align: center;
  color: black;
}

/* Стили для блока с сообщением об ошибке */
.error-message {
  font-size: 22px;
}

@keyframes ErrorIn {
  0% {
    bottom: -100px;
  }

  15% {
    bottom: 25px;
  }

  85% {
    bottom: 25px;
  }

  100% {
    bottom: -100px;
  }
}